body {	
	margin: 0;
}

#bgvid {
	display: block;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	background: url(bckgnd/bckgnd.jpg) no-repeat;
	background-size: cover;
}

@media screen and (max-device-width: 800px) {
	body { background: url(bckgnd/bckgnd.jpg) #000 no-repeat fixed; background-size: cover;}
	#bgvid { display: none; }
}
